.contactList{
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    border-bottom: #87A11C solid 3px;
    box-shadow: 0px 4px 20px rgba(135, 161, 28, 0.4) inset;
    
    
}
.wrapperItem{
    display: flex;
    gap: 40px;
    align-items: center;
}
.contactItem{
    min-width: 160px;
    color: var(--primary-primary);
font-family: Jost-Medium;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.contactList:nth-child(1) {
    border-top: #87A11C solid 3px;
   
    box-shadow: 0px 8px 20px rgba(135, 161, 28, 0.4) inset;
    
}
.btn{
    
    width: 40px;
  height: 40px;
    border-radius: 50px;
    border: none;
}
.btn:hover{
    background-color: rgba(135, 161, 28, 0.4);
}