.wrapper{
  border-top: #87A11C solid 3px;
}
.filterBox {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 350px;
  
  padding: 20px;
  font-family: Jost-Medium;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
  color: var(--primary-primary);
}
.myFormInput {
  width: 350px;
  height: 40px;
   border-radius: 5px;
   font-family: Jost-Regular;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
  color: var(--primary-secondary);
}
