:root {
  --primary-primary: #1D1D1D;
  --primary-secondary: #8C8C8C;
  --primary-accent: #FF868E;
  --background: #F8F8F7;
  --background-secondary: #FFF;
  --background-hover: #FBE0DC;
  --background-active: #FF868E;
  // --primary-grey: #b7b7b7;

  --color-voting: #B4B7FF;
  --color-breeds: #97EAB9;
  --color-gallery: #FFD280;
  // --color-disabled: #969696;
}
